@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center " >
    <div class="col">
        <h1>Welcome</h1>
        <h2>Made a great pro-bezdar'</h2>
    </div>
</div>

<div class="row" text-centr>
    <div class="col">
        <img src="/images/proBezd.jpg" class="w-70 img-fluid img-thumbnail text-center" />
    </div>
</div>